<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dash.css">
  </head>
  <body>
    <div class="header">
      <h1>e-Learning Web Application</h1>
    </div>

    <!-- <div class="nav">
      <a href="#" class="active">Home</a>
      <% if (user.userType == "admin") { %>
      <a href="/upload">Upload File</a>
      <a href="/manage-users">Manage Users</a>
      <%}%>
      <a href="/view-notes/<%= user.semester %>">View Notes</a>
      <a href="/view-questionpapers/<%= user.semester %>">View Question Papers</a>
      <a href="/view-questionbank/<%= user.semester %>">View Question Banks</a>
      <a href="/logout" style="float:right">Logout</a>
    </div> -->


    <div class="nav">
      <div class="logo_nav">
        <p>Welcome <span style="color: #FFFFFF; font-weight: bold;"><%= user.name %></span>!</p>
      </div>

      <div class="contant">
        <a href="#" class="active">Home</a>

        <% if (user.userType == "admin") { %>
        <a href="/upload">Upload File</a>
        <%}%>

        <a href="/view-notes/<%= user.semester %>">View Notes</a>
        <a href="/view-questionpapers/<%= user.semester %>">View Question Papers</a>
        <a href="/view-questionbank/<%= user.semester %>">View Question Banks</a>
        <a href="/logout" style="float:right">Logout</a>
      </div>
      
    </div>

    <div class="main">
      <div class="card1">
        <!-- <h2>User Details</h2> -->
      <div class="card_title">
        <% if (user.userType != "admin") { %>
          <h2>Student Details</h2>
          <%}%>
        
        <% if (user.userType == "admin") { %>
          <h2>Faculty Details</h2>
          <%}%>
      </div>

      <% if (user) { %>
      <div class="card">
        <h2><%= user.name %></h2>
        <p><strong>User ID:</strong> <%= user.userId %></p>
        <% if (user.semester) { %>
        <p><strong>Semester:</strong> <%= user.semester %></p>
        <% } %>
        <p><strong>Branch:</strong> <%= user.branch %></p>
        <p><strong>User Type:</strong> <%= user.userType %></p>
      </div>
      <% } else { %>
      <p>No user details found.</p>
      <% } %>
      </div>


      <div class="card2" style="margin-top: 40px;">
        <div class="card_title">
            <h2>News & Events</h2>
        </div>
        
  
        <% if (user) { %>
        <div class="card">
          <div class="subpart">
            <h3 class="subpart_title">NLJ Day Celebration</h3>
            <p style="max-width: 80%;"> You are cordially invited to join us in a day of celebration at [College Name]. We are organizing a special event filled with fun, laughter, and unforgettable experiences. This is an opportunity for our college community to come together, celebrate our achievements, and create cherished memories. Join us on as we embark on a day of joy and camaraderie. We look forward to your presence and participation in this exciting celebration.<br><br><strong>Date: </strong>20 to 27 Jun 2023<br><strong>Venue: </strong>NLJIET Campus</p>
          </div>

          <div class="subpart" style="margin-top: 40px;">
            <h3 class="subpart_title">NLJ Hackathon</h3>
            <p style="max-width: 80%;"> Hello Students, We are thrilled to announce the highly anticipated NLJIET Hackathon 2023, and we cordially invite you to participate in this exciting event! As one of the most prestigious hackathons in the region, it presents an excellent opportunity for students like you to showcase your technical skills, collaborate with peers, and tackle real-world challenges.<br><br><strong>Date: </strong>15th Jul 2023<br><strong>Venue: </strong>Auditorium Hall</p>
          </div>
          
        </div>
        <% } else { %>
        <p>No user details found.</p>
        <% } %>
    </div>
  </body>
  <footer class="footertext">
    <p> &copy; All Right Recived</p>
  </footer>
</html>
