<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dash.css">
  </head>
  <body>
    <div class="header">
      <h1>Welcome to Dashboard</h1>
    </div>

    <div class="nav">
      <a href="#" class="active">Home</a>
      <% if (user.userType == "admin") { %>
      <a href="/upload">Upload File</a>
      <a href="/manage-users">Manage Users</a>
      <%}%>
      <a href="/view-notes/<%= user.semester %>">View Notes</a>
      <a href="/view-questionpapers/<%= user.semester %>">View Question Papers</a>
      <a href="/view-questionbank/<%= user.semester %>">View Question Banks</a>
      <a href="/logout" style="float:right">Logout</a>
    </div>

    <div class="main">
      <h2>User Details</h2>

      <% if (user) { %>
      <div class="card">
        <h2><%= user.name %></h2>
        <p><strong>User ID:</strong> <%= user.userId %></p>
        <% if (user.semester) { %>
        <p><strong>Semester:</strong> <%= user.semester %></p>
        <% } %>
        <p><strong>Branch:</strong> <%= user.branch %></p>
        <p><strong>User Type:</strong> <%= user.userType %></p>
      </div>
      <% } else { %>
      <p>No user details found.</p>
      <% } %>
    </div>
  </body>
</html>
