<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style2.css">
    <meta charset="utf-8">
    <title>View Notes</title>
  </head>


  <body>

    <div class="header">
      <h1>e-Learning Web Application</h1>
      <p>View Notes</p>
    </div>

    <div class="sections"> 


      <% if (user.userType === "admin") { %> <!-- Conditionally show the Actions column for admin -->
        <div class="inside-section">
          <div class="semester-selection">
            <div class="sem-selection"><h1>Select semester</h1></div>
            <div class="semester-box">
              <% for (let i = 1; i <= 8; i++) { %>
                <a href="/view-notes/<%= i %>"><button><%= i %></button></a>
              <% } %>
            </div>
          </div>
      </div>
        
      <% } %>
      

      <div class="inside-section">
        <h1>Notes for Semester <%= semester %></h1>
        <% Object.keys(subjects).forEach(function(subject) { %>
        <h2><%= subject %></h2>
        <table>
          <thead>
            <tr>
              <th>Notes</th>
              <% if (user.userType === "admin") { %> <!-- Conditionally show the Actions column for admin -->
                <th>Actions</th>
              <% } %>
            </tr>
          </thead>

          <tbody>
            <% subjects[subject].forEach(function(note) { %>
                <tr>
                  <td><a href="<%= note.notesUrl %>"><%= path.basename(note.notesUrl) %></a></td>
                  <% if (user.userType === "admin") { %> <!-- Conditionally show the remove button for admin -->
                    <td>
                      <form method="POST" action="/remove-note">
                        <input type="hidden" name="notesUrl" value="<%= note.notesUrl %>">
                        <input type="submit" value="Remove File" class="remove-button">
                      </form>
                    </td>
                  <% } %>
                </tr>
            <% }); %>
          </tbody>
        </table>
      <% }); %>
      </div>
    </div> 


    <!-- <a href="/dashboard"><input type="button" value="Back to dashboard"></a> -->

    <div class="backtodash">
      <a href="/dashboard"><input type="button" class="submit-button" value="Back To Dashboard"></a>
    </div>
  </body>
</html>



