<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style2.css">
    <meta charset="utf-8">
    <title>View Notes</title>
  </head>
  <body>
    <% if (user.userType === "admin") { %>
      <div class="semester-selection">
        <h1>Select semester</h1>
        <div class="semester-box">
          <% for (let i = 1; i <= 8; i++) { %>
            <a href="/view-notes/<%= i %>"><button><%= i %></button></a>
          <% } %>
        </div>
      </div>
    <% } %>
    <h1>Notes for Semester <%= semester %></h1>
    <% Object.keys(subjects).forEach(function(subject) { %>
      <h2><%= subject %></h2>
      <table>
        <thead>
          <tr>
            <th>Notes</th>
            <% if (user.userType === "admin") { %> <!-- Conditionally show the Actions column for admin -->
              <th>Actions</th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% subjects[subject].forEach(function(note) { %>
            <tr>
              <td><a href="<%= note.notesUrl %>"><%= path.basename(note.notesUrl) %></a></td>
              <% if (user.userType === "admin") { %> <!-- Conditionally show the remove button for admin -->
                <td>
                  <form method="POST" action="/remove-note">
                    <input type="hidden" name="notesUrl" value="<%= note.notesUrl %>">
                    <input type="submit" value="Remove File" class="remove-button">
                  </form>
                </td>
              <% } %>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% }); %>
    <a href="/dashboard"><input type="button" value="Back to dashboard"></a>
  </body>
</html>
