<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View Question Bank</title>
    <link rel="stylesheet" href="/css/style2.css">
  </head>


  <body>

    <div class="header">
      <h1>e-Learning Web Application</h1>
      <p>Question Banks</p>
    </div>

    <div class="sections">

      <% if (user.userType === "admin") { %> <!-- Conditionally show the Actions column for admin -->
        <div class="inside-section">
          <div class="semester-selection">
            <div class="sem-selection"><h1>Select semester</h1></div>
            <div class="semester-box">
              <% for (let i = 1; i <= 8; i++) { %>
                <a href="/view-questionbank/<%= i %>"><button><%= i %></button></a>
              <% } %>
            </div>
          </div>

      </div>

        
      <% } %>
      
      <div class="inside-section">
        <h1>Question Bank for Semester <%= semester %></h1>
      <% Object.keys(subjects).forEach(function(subject) { %>
        <h2><%= subject %></h2>
        <table>
          <thead>
            <tr>
              <th>Question Bank</th>
              <% if (user.userType === "admin") { %> <!-- Conditionally show the Actions column for admin -->
                <th>Actions</th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% subjects[subject].forEach(function(questionbank) { %>
              <tr>
                <td><a href="<%= questionbank.questionBankUrl %>"><%= path.basename(questionbank.questionBankUrl) %></a></td>
                <% if (user.userType === "admin") { %> <!-- Conditionally show the remove button for admin -->
                  <td>
                    <form id="removeForm" method="POST" action="/remove-questionbank">
                      <input type="hidden" name="questionBankUrl" value="<%= questionbank.questionBankUrl %>">
                      <input type="submit" value="Remove File" class="remove-button" onclick="confirmRemoval(event)">
                    </form>
                  </td>
                <% } %>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% }); %>
      </div>

    </div>
    
    
    
    <!-- <a href="/dashboard"><input type="button" value="Back to dashboard"></a> -->
    <div class="backtodash">
      <a href="/dashboard"><input type="button" class="submit-button" value="Back To Dashboard"></a>
    </div>
    <script>
      function confirmRemoval(event) {
        event.preventDefault(); // Prevent the form from submitting immediately
    
        if (confirm("Are you sure you want to remove this file?")) {
          // If the user confirms, proceed with the form submission
          document.getElementById("removeForm").submit();
        } else {
          // If the user cancels, do nothing
          return false;
        }
      }
    </script>
  </body>
</html>
